//Class name for the entire container (div)

.jquery-box {
	border: 2px solid blue;
	width: 496px;
	// height: 580px;
	text-align: center;


	#heading1{
		border: 2px solid blue;
		background-color: blue;
		margin: 0px;

		
	}
	h1{
		border: 2px solid blue;
		background-color: blue;
		margin: 0px;
		// overflow: hidden;
	}
	
	.sectionbox{
	border: 2px solid blue;
	}
}

.info{
	max-height: 0px;
	overflow: hidden;
	transition: max-height 1s ease;
	margin: 0px;
	
}

.open{
	max-height:200px;
}

.close{
	max-height:0px;
}