.jquery-box {
  border: 2px solid blue;
  width: 496px;
  text-align: center; }
  .jquery-box #heading1 {
    border: 2px solid lightblue;
    background-color: lightblue;
    margin: 0px; }
  .jquery-box .section {
    border: 2px solid lightblue;
    background-color: lightblue;
    margin: 0px; }

.info {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
  margin: 0px; }

.open {
  max-height: 200px; }

.close {
  max-height: 0px; }
